#
# Front-end server configurations file.
#
# Author: Michael Morckos <mmorckos@uwaterloo.ca>
#

# The endpoint of the session server's object adapter. This should be
# an endpoint on an internal network (like 192.168.x.x), or on the
# loopback, so that the session server is not directly accessible from
# the Internet.
#
FrontEndServer.Endpoints=tcp -h 127.0.0.1 -p 10010:tcp -h 127.0.0.1 -p 9990

### Publish/subscribe configurations ###
#
# This property is used to configure the endpoints of the clock
# subscriber adapter. These endpoints are where the client receives
# topic messages from IceStorm.
#
SERVER_TO_SERVER_COMM_0.Subscriber.Endpoints=tcp:udp

#
# This property is used by the subscribers to connect to IceStorm.
#
TopicManager.Proxy0=ServerIceStorm/TopicManager:default -p 12000

#
# This property is used by the publishers to connect to IceStorm.
#
TopicManager.Proxy1=ServerIceStorm/TopicManager:default -p 13000

########################################

#
# Warn about connection exceptions
#
#Ice.Warn.Connections=1

#
# Network Tracing
#
# 0 = no network tracing
# 1 = trace connection establishment and closure
# 2 = like 1, but more detailed
# 3 = like 2, but also trace data transfer
#
Ice.Trace.Network=0

#
# Protocol Tracing
#
# 0 = no protocol tracing
# 1 = trace protocol messages
#
Ice.Trace.Protocol=0
Ice.Trace.ThreadPool=1

#
# FrontEndServer Tracing
#
# 0 = disable FrontEndServer tracing
# 1 = enable FrontEndServer tracing
Server.Trace=1


#
# FrontEndServer thread pool configurations
#

Ice.ThreadPool.Server.Size=2
Ice.ThreadPool.Server.SizeMax=10
Ice.ThreadPool.Server.SizeWarn=7
Ice.ThreadPool.Server.Serialize=1
#Ice.ThreadPool.Server.ThreadPriority=1
#Ice.ThreadPriority=1
